body {
  background-color: #fff1e6;
}

.btn-damocles-primary {
  background-color: #a5a58d;
  color: black;
}

.btn-damocles-danger {
  background-color: #cb997e;
  color: black;
}

.dot {
  height: 75px;
  width: 75px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  color: White;
  text-align: center;
  user-select: none;
}

.dot:focus {
  outline: none;
}

.small {
  height: 12px;
  width: 12px;
}

.red {
  background-color: Red;
}

.blue {
  background-color: Blue;
}

.green {
  background-color: Green;
}

.black {
  background-color:Black;
}

.gold {
  background-color: Gold;
}

.onehep {
  position: absolute;
  top: 0;
  left: 45%;
}

.twohep {
  position: absolute;
  top: 20%;
  left: 75%;
}

.threehep {
  position: absolute;
  top: 60%;
  left: 85%;
  
}

.fourhep {
  position: absolute;
  top: 85%;
  left: 60%;
}

.fivehep {
  position: absolute;
  top: 85%;
  left: 30%;
}

.sixhep {
  position: absolute;
  top: 60%;
  left: 5%;
}

.sevenhep {
  position: absolute;
  top: 20%;
  left: 15%;
}

.hand {
  position: relative;
}

.board {
  position: relative;
  height: 300px;
  width: 300px;
  margin-bottom: 50px;
}

.display {
  position: relative;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.card {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 5px solid black;
  padding: 0 0 0 0;
  margin: 0 5px 0 0;
  user-select: none;
}

.active {
  background-color: lightgray;
}

.activeReflexed {
  background-color: lightcoral;
}

.cardType {
  position: absolute;
  list-style-type: none;
  top: 40%;
  left: 47.5%;
  font-family: 'Abel', sans-serif;

}

.selectedCard {
  border: 5px solid red;
}

.cardRotateContainer {
  display: inline-block;
}

.cardRotateContainer:focus {
  outline: 0;
}

.play-button {
  display: block;
}

.readied {
  background-color: #a5a58d;
  font-weight: 700
}

.notreadied {
  background-color: #cb997e;
  font-weight: 700
}

.pregameListItem {
  list-style: none;
}

.lobbylist:hover {
  background-color: lightcoral;
}

.lobbylist:hover {
  cursor: pointer;
}

#maxplayer {
  display: inline-block;
}

#playeroptions {
  display: inline;
}

#backbutton {
  display: block;
}

.otherHands {
  display: block;
}

.otherHandsPlayed {
  display: block;
}

#Chat {
  display: inline-block;
  vertical-align: top;
}

#chatBox {
  overflow: auto;
  width: 400px;
  height: 500px;
  display: block;
}

.Waiting {
  display: inline-block;
  vertical-align: top;
}

.Login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#LoginTitle {
  padding: 20px;
}

#display-board {
  justify-content: center;
}
