.dot {
  height: 75px;
  width: 75px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  color: White;
  text-align: center;
  user-select: none;
}

.dot:focus {
  outline: none;
}

.small {
  height: 20px;
  width: 20px;
}

.red {
  background-color: Red;
}

.blue {
  background-color: Blue;
}

.green {
  background-color: Green;
}

.black {
  background-color:Black;
}

.gold {
  background-color: Gold;
}

.onehep {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.twohep {
  position: absolute;
  top: 29%;
  left: 78%;
  transform: translate(-50%, -50%);
}

.threehep {
  position: absolute;
  top: 60%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.fourhep {
  position: absolute;
  top: 85%;
  left: 66%;
  transform: translate(-50%, -50%);
}

.fivehep {
  position: absolute;
  top: 85%;
  left: 34%;
  transform: translate(-50%, -50%);
}

.sixhep {
  position: absolute;
  top: 60%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.sevenhep {
  position: absolute;
  top: 29%;
  left: 22%;
  transform: translate(-50%, -50%);
}

.hand {
  position: relative;
}

.board {
  position: relative;
  height: 300px;
  width: 300px;
  margin-bottom: 50px;
}

.display {
  position: relative;
  max-width: 900px;
  display: inline-block;
  vertical-align: top;
}

.card {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 5px solid black;
  padding: 0px 0px 0px 0px;
  margin: 0px 5px 0px 0px;
  background-color: rgb(110, 77, 43);
  user-select: none;
}

.active {
  background-color: lightgray;
}

.activeReflexed {
  background-color: lightcoral;
}

.cardType {
  position: absolute;
  list-style-type: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: white;

}

.selectedButton {
  
}

.selectedCard {
  border: 5px solid red;
}

.cardRotateContainer {
  display: inline-block;
}

.cardRotateContainer:focus {
  outline: 0px;
}

.playbutton {
  display: block;
}

.readied {
  color: green
}

.notreadied {
  color: red;
}

.pregameListItem {
  list-style: none;
}

.lobbylist {
  display: table;
  list-style: none;
  transition: 1s;
}

.lobbylist:hover {
  background-color: lightcoral;
}

.lobbylist:hover {
  cursor: pointer;
}

#newroomlabel {
  display: inline-block;
}

#newroominput {
  display: inline;
}

#maxplayer {
  display: inline-block;
}

#playeroptions {
  display: inline;
}

#newroombutton {
  display: block;
}

#newroomlabeldiv {
  display: block;
}

#newroommaxplayerdiv {
  display: block;
}

#backbutton {
  display: block;
}

.otherHands {
  display: block;
}

.otherHandsPlayed {
  display: block;
}

#Chat {
  display: inline-block;
  vertical-align: top;
}

#chatBox {
  overflow: auto;
  width: 400px;
  height: 500px;
  display: block;
}

.Waiting {
  display: inline-block;
  vertical-align: top;
}

#backbutton {
  display: inline-block;
  vertical-align: top;
}